
body
{
	background-color: #70A9A5;
	margin: 0px;
}



.container
{
	text-align: center;
	vertical-align: middle;
	position: relative;
	margin: 100px auto;
	width: 1200px;
	height: 731px;
	background-image: url("../images/background.jpg");
}

.category_button
{
	position: absolute;
	width: 60px;
	height: 60px;
	/*background: blue;*/
	/*z-index: 10;
	background: rgba(0,0,0,0.7);*/
}

.progess_bar
{
	position: absolute;
	margin-left: 462px;
	margin-top: 16px;
}

.progess_bar img
{
	position: absolute;
}

.left_header
{
	position: absolute;
margin-left: 66px;
margin-top: 150px;
}

.left_header img
{
	position: absolute;

}


.left_panel
{
	position: absolute;

margin-left: 66px;
margin-top: 307px;
}

.left_panel img
{
	position: absolute;

}

.screen
{
	position: absolute;
margin-left: 461px;
margin-top: 177px;
}

.screen img
{
	position: absolute;

}

.category_button_1
{
	margin-left: 58px;
	margin-top: 183px;
}

.category_button_2
{
	
	margin-left: 161px;
	margin-top: 183px;
}

.category_button_3
{
	
	margin-left: 260px;
	margin-top: 183px;
}

.tint {
    float: left;
    
    margin: 0 20px 20px 0;
}

.tint img:hover {
    opacity: .5;
    cursor: pointer;
}
